<article class="col-md-8">
  <header>
    <h1>Your Posts</h1>
  </header>

  <section>
    <dl>
      <%= render(@user.posts) || "You don't have any posts yet!" %>
    </dl>
  </section>
</article>

<aside class="col-md-4">
  <%# if @user.avatar_file_name %>
    <%#= image_tag @user.avatar.url(:thumb) %>
  <%# end %>
  <dl>
    <dt>Username</dt>
    <dd><%= @user.username %></dd>
    <dt>Email</dt>
    <dd><%= @user.email %></dd>
    <dt>Phone</dt>
    <dd><%= @user.phone %></dd>
  </dl>
  <p><%= link_to "Edit your account", edit_user_path, :class => "btn btn-default" %></p>
</aside>
