<article class="col-md-8">
  <header>
    <h1><%= @post.title %></h1>
    <p>Published by <%= @post.user.username %> on <time datetime="<%= @post.published.strftime('%Y-%m-%dT%H:%M%z') %>"><%= @post.published.strftime("%B %d, %Y at %I:%M%P \(%Z\)") %></time></p>
  </header>

  <section>
    <p><%= h(@post.entry).gsub(/\n/, "</p><p>").html_safe %></p>
  </section>

  <section>
    <h2>Comments</h2>
    <dl id="comments">
      <%= render(@post.comments) || "There are no comments yet!" %>
    </dl>
    <% if current_user %>
      <p><%= link_to "Add a comment", new_post_comment_path(@post), id: "new_comment_link", remote: true %></p>
    <% else %>
      <p>You must have an account to post a comment. <%= link_to "Sign Up", new_user_path %> | <%= link_to "Log In", log_in_path %>
    <% end %>
  </section>
</article>

<aside class="col-md-4">
  <% if current_user == @post.user %>
    <h1>Manage this post</h1>
    <ul class="list-unstyled">
      <li><%= link_to "Edit this post", edit_post_path(@post), :class => "btn btn-default" %></li>
      <li><%= link_to "Delete this post", post_path(@post), :data => { :confirm => "Are you sure? This can't be undone.", :method => "delete" }, :class => "btn btn-danger" %></li>
    </ul>
  <% end %>
</aside>
